body
  font-size: 14px
  font-family: 'Montserrat', sans-serif !important;

.main
  width: 80%
  max-width: 1176px
  margin: auto
  ._loading
    margin: 120px auto

.gallery__header
  text-align: center
  font-size: 4rem
  margin-bottom: 60px
  color: #484848